services:
  traefik:
    image: traefik:v3.6.5
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./traefik/certs:/certs:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=HostRegexp(`^traefik\\..*`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    expose:
      - "3000"
    depends_on:
      - kurrentdb.db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=PathPrefix(`/api`)"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.middlewares=api-stripprefix"
      - "traefik.http.middlewares.api-stripprefix.stripprefix.prefixes=/api"
      - "traefik.http.services.api.loadbalancer.server.port=3000"
      - "traefik.http.routers.api.priority=100"

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    expose:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
      - "traefik.http.routers.frontend.priority=1"

  kurrentdb.db:
    image: docker.kurrent.io/kurrent-latest/kurrentdb:latest
    platform: linux/amd64
    environment:
      - KURRENTDB_CLUSTER_SIZE=1
      - KURRENTDB_RUN_PROJECTIONS=All
      - KURRENTDB_START_STANDARD_PROJECTIONS=true
      - KURRENTDB_NODE_PORT=2113
      - KURRENTDB_INSECURE=true
      - KURRENTDB_ENABLE_ATOM_PUB_OVER_HTTP=true
    expose:
      - "2113"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kurrentdb.rule=HostRegexp(`^kurrentdb\\..*`)"
      - "traefik.http.routers.kurrentdb.tls=true"
      - "traefik.http.services.kurrentdb.loadbalancer.server.port=2113"
    volumes:
      - type: volume
        source: kurrentdb-volume-data
        target: /var/lib/kurrentdb
      - type: volume
        source: kurrentdb-volume-logs
        target: /var/log/kurrentdb

volumes:
  kurrentdb-volume-data:
  kurrentdb-volume-logs:
